.pagination{margin:2em auto;overflow:hidden;text-align:center;display:block;display:inline-block;border-radius:50px;box-shadow:0 0 0 2px #130e0b,0 0 0 3px #402d22;font-size:2em}
.pagination span,.pagination .current{cursor:default}
.pagination a,.pagination span{padding:.2em .8em;background-color:#2b1e16;color:#79613a;position:relative;float:left;min-width:2.2em}
.pagination .current{background-color:#2b1e16}
.pagination a:hover,.pagination a:focus,.pagination .current{color:#b9a076;background-color:#1f1611}
.pagination a:active,.pagination .current:active{color:#fff}
.pagination .current:after{width:100%;bottom:0}
.pagination .prev:after,.pagination .next:after{display:none}
.pagination a:after,.pagination span:after{content:"";position:absolute;width:100%;height:10%;background-color:#130e0b;bottom:-10%;z-index:1;right:0;left:0}
.pagination a:hover:after,.pagination span.current:hover:after,.pagination a:focus:after,.pagination span.current:focus:after{width:100%;bottom:0}
.pagination a:before,.pagination span:before{content:"";position:absolute;width:1px;height:100%;bottom:0;z-index:1;right:0;left:0;background: linear-gradient(rgba(151,129,94,0),rgb(31, 22, 17),rgb(31, 22, 17),rgb(31, 22, 17),rgb(31, 22, 17),rgba(151,129,94,0));}
.pagination .next:before{content:"»";}
.pagination .prev:before{content:"«";}
.pagination .prev:before,.pagination .next:before{position:absolute;width:100%;height:2.1em;z-index:1;right:0;left:0;top:.21em;background:#1f1611}
.pagination .prev,.pagination .next{background:#1f1611}
.pagination .prev:hover,.pagination .next:hover,.pagination .prev:hover:before,.pagination .next:hover:before,.pagination .prev:focus,.pagination .next:focus,.pagination .prev:focus:before,.pagination .next:focus:before{color:#eee}
.pagination .prev + a:before,.pagination .prev + .current:before{display:none}
.pagination .prev + a,.pagination .prev + .current{border-left:2px solid #130e0b}
.pagination .last{border-right:2px solid #130e0b}
.pagination .prev:active:before,.pagination .next:active:before,.pagination .prev:active,.pagination .next:active{color:#fff;background-color:#0c0907}
.pagination span:before,.pagination span:after,.pagination span.current:after,.pagination a:before,.pagination a:after,.pagination .current:after{transition:all .3s}
.pagination .prev,.pagination .prev:before,.pagination .next,.pagination .next:before{transition:all .1s}
/*.next{background-color:#17100d}*/
